body {background-color: rgba(158, 181, 194, 0.342);
}

li { display: inline-block;}

h1 {
color: rgb(32, 23, 80);
}

p {   color: rgb(32, 23, 80);
font-size: 22px; }


.nav {
background-color: rgba(5, 32, 71, 0.623); /* Color de fondo de la barra */
color: white; /* Color del texto en la barra */
padding: 10px; /* Añade un poco de espacio alrededor del contenido de la barra */
position: fixed; /* Asegura que la barra esté fija en la pantalla */
top: 0; /* Coloca la barra en la parte superior */
left: 0; /* Alinea la barra a la izquierda */
width: 100%; /* Establece el ancho al 100% */
z-index: 1000; /* Asegura que la barra tenga un índice de apilamiento alto */
}

/* Estilos para los elementos de lista dentro de la barra */
.nav ul {
list-style-type: none; /* Quita los estilos de viñetas */
margin: 0; /* Elimina el margen predeterminado */
padding: 0; /* Elimina el relleno predeterminado */
text-align: center; /* Centra los elementos de la lista */
}

.nav ul li {
display: inline; /* Muestra los elementos de la lista en línea */
margin-right: 40px; /* Añade espacio entre los elementos */
}

.nav ul li:last-child {
margin-right: 0; /* Elimina el margen derecho del último elemento */
}

.nav ul li a {
text-decoration: none; /* Quita el subrayado del enlace */
color: white; /* Establece el color del texto como blanco */
font-size: 18px;
}

.nav :hover {color: rgb(38, 87, 128);}

.imagen-titulo {
text-align: center; /* Centra el contenido */
margin-top: 50px; /* Ajusta el margen superior para dejar más espacio */
}

.imagen-titulo img {
max-width: 70%; /* Establece un tamaño máximo del 40% del ancho del contenedor */
display: block; /* Hace que la imagen sea un bloque para poder centrarla horizontalmente */
margin: 0 auto; /* Centra la imagen horizontalmente */
}

.img-zapato {
width: 800px; /* Puedes ajustar el tamaño según tus necesidades */
height: auto; /* Esto mantendrá la proporción original */
}

.img-novela {
max-width: 26%; /* Establece un ancho máximo del 20% del contenedor */
height: auto;
margin-right: 10px;  /* Permite que la altura se ajuste automáticamente para mantener la proporción de la imagen */
}


.texto-lateral {
flex: 1; /* Permite que el texto ocupe todo el espacio restante */
margin-left: 5px; /* Añade un margen a la izquierda del texto para separarlo de la imagen */
color: rgb(48, 23, 80); /* Establece el color del texto como blanco */
font-size: 22px;
}

.titulo {
font-size: 30px;
color: rgb(32, 23, 80); /* Establece el color del texto como blanco */
margin-top: 0; /* Elimina el margen superior del título */
}
.contenedor {
display: flex;
align-items: flex-start;/* Utiliza el modelo de caja flexible para alinear los elementos */
}

.texto-contenedor {
display: flex;
flex-direction: column; /* Ajusta el margen entre la imagen y el texto */
}
.equipo {
display: flex;
align-items: flex-start; /* Alinea los elementos al inicio */
margin-top: 20px; /* Espacio superior */
}

.equipo img {
max-width: 285px; /* Ancho máximo de la imagen */
margin-right: 65px; /* Espacio entre la imagen y el texto */
}

.equipo .texto {
flex-grow: 1; /* Permite que el texto ocupe todo el espacio restante */
}

.equipo .texto h1 {
color: rgb(32, 23, 80); /* Establece el color del texto como blanco */
font-size: 28px; /* Tamaño del título */
font-weight: bold; /* Peso del título */
margin-bottom: 10px; /* Espacio inferior del título */
}

.equipo .texto h2 {
color: rgb(32, 23, 80); /* Establece el color del texto como blanco */
font-size: 22px; /* Tamaño del subtitulo */
font-weight: bold; /* Peso del subtitulo */
margin-bottom: 5px; /* Espacio inferior del subtitulo */
}

.equipo .texto p {

font-size: 18px; /* Tamaño del párrafo */
margin-bottom: 5px; /* Espacio inferior del párrafo */
}

.procesos {
width: 200px; /* Ancho de la imagen */
height: 200px; /* Alto de la imagen */
object-fit: cover; /* Ajusta la imagen para cubrir el cuadro sin distorsionar */
}

.hilera-imagenes {
display: flex;
justify-content: space-between;
max-width: 800px;
margin: 0 auto;
}

.hilera-imagenes img {
width: calc(33.33% - 30px); /* Ajusta el tamaño de las imágenes y considera el espacio entre ellas */
height: auto;
margin-right: 10px; /* Establece un margen derecho entre las imágenes */
}

.hilera-imagenes img:last-child {
margin-right: 0; /* Elimina el margen derecho de la última imagen */
}

.centrado {
text-align: center; /* Centra el texto horizontalmente */
}


.chikita {
width: 50px; /* Ancho de la imagen */
height: 50px; /* Alto de la imagen */
object-fit: cover; /* Ajusta la imagen para cubrir el cuadro sin distorsionar */
margin: 15px;
}

.reset {
width: 50px; /* Ancho de la imagen */
height: 50px; /* Alto de la imagen */
object-fit: cover; /* Ajusta la imagen para cubrir el cuadro sin distorsionar */
display: block; /* Hace que la imagen sea un bloque */
margin: 20px auto 0; /* Margen superior de 20px, centrar horizontalmente */
}

.flex-container {
display: flex;
justify-content: center; /* Centra horizontalmente el contenido */
align-items: center; /* Centra verticalmente el contenido */
height: 100vh; /* 100% del alto de la ventana */

}

.game-frame {
width: 605px; /* Ancho del iframe */
height: 605px; /* Alto del iframe */
border: none; /* Elimina el borde del iframe */
border-radius: 15px; /* Borde redondeado opcional */
overflow: hidden;
}


